In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1,2,3,4,5,6,np.nan,8,9,10])

In [3]:
s

0     1.0
1     2.0
2     3.0
3     4.0
4     5.0
5     6.0
6     NaN
7     8.0
8     9.0
9    10.0
dtype: float64

In [4]:
d = pd.date_range ('20200301', periods=10)

In [5]:
d

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(10,4), index=d, columns=['A', 'B', 'C', 'D'])

In [7]:
df

                   A         B         C         D
2020-03-01  0.406908  1.542215 -0.038860  1.483067
2020-03-02 -0.750015  1.038110  0.933076  1.642836
2020-03-03  1.280256  0.653517 -0.636589 -0.346229
2020-03-04  0.474328  1.403581 -0.384702 -0.713657
2020-03-05 -0.796362 -0.446349 -0.701829  1.115196
2020-03-06 -0.231602  1.241393  1.593402 -0.984943
2020-03-07 -1.107074  0.347745 -0.366376  0.988591
2020-03-08 -0.918799  0.234195 -1.470084  1.156614
2020-03-09  0.296818 -0.144241  0.801228 -0.153631
2020-03-10  1.702516 -0.585437 -0.222266 -0.860427

In [8]:
%load_ext sql

In [9]:
%sql postgresql://postgres:P%40%35%35w076@localhost:5432/cohort_4_

In [10]:
%%sql
DROP TABLE IF EXISTS produce_1;
CREATE TABLE produce_1 (
id SERIAL,
product_name varchar(20) NOT NULL,
qty smallint CHECK(qty > 10),
price decimal(10,2)
);

Running query in 'postgresql://postgres:***@localhost:5432/cohort_4_'

# Passing Dictionary of Objects

In [11]:
df1 = pd.DataFrame({
    'A': [1, 2, 3, 4],
    'B': pd.Timestamp('20200301'),
    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
    'D': np.array([5] * 4, dtype='int32'),
    'E': pd.Categorical(['True', 'False', 'True', 'False']),
    'F': 'ITKashflow'
})

In [12]:
df1

   A          B    C  D      E           F
0  1 2020-03-01  1.0  5   True  ITKashflow
1  2 2020-03-01  1.0  5  False  ITKashflow
2  3 2020-03-01  1.0  5   True  ITKashflow
3  4 2020-03-01  1.0  5  False  ITKashflow

In [13]:
df1.dtypes

A             int64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [14]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [15]:
df.head()

                   A         B         C         D
2020-03-01  0.406908  1.542215 -0.038860  1.483067
2020-03-02 -0.750015  1.038110  0.933076  1.642836
2020-03-03  1.280256  0.653517 -0.636589 -0.346229
2020-03-04  0.474328  1.403581 -0.384702 -0.713657
2020-03-05 -0.796362 -0.446349 -0.701829  1.115196

In [16]:
df.tail()

                   A         B         C         D
2020-03-06 -0.231602  1.241393  1.593402 -0.984943
2020-03-07 -1.107074  0.347745 -0.366376  0.988591
2020-03-08 -0.918799  0.234195 -1.470084  1.156614
2020-03-09  0.296818 -0.144241  0.801228 -0.153631
2020-03-10  1.702516 -0.585437 -0.222266 -0.860427

In [17]:
df.index

DatetimeIndex(['2020-03-01', '2020-03-02', '2020-03-03', '2020-03-04',
               '2020-03-05', '2020-03-06', '2020-03-07', '2020-03-08',
               '2020-03-09', '2020-03-10'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
df.to_numpy()

array([[ 0.40690802,  1.54221516, -0.0388596 ,  1.48306701],
       [-0.75001475,  1.03810977,  0.93307649,  1.64283557],
       [ 1.28025585,  0.65351652, -0.63658935, -0.34622903],
       [ 0.47432788,  1.40358122, -0.38470156, -0.71365667],
       [-0.79636153, -0.4463492 , -0.70182902,  1.11519625],
       [-0.23160166,  1.24139304,  1.59340172, -0.98494318],
       [-1.10707398,  0.34774481, -0.36637628,  0.98859147],
       [-0.91879879,  0.23419491, -1.47008367,  1.15661437],
       [ 0.29681805, -0.1442413 ,  0.80122848, -0.15363054],
       [ 1.70251579, -0.58543661, -0.22226589, -0.86042739]])

In [20]:
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.035697   0.528473  -0.049300   0.332742
std     0.961694   0.770280   0.907948   1.038866
min    -1.107074  -0.585437  -1.470084  -0.984943
25%    -0.784775  -0.049632  -0.573617  -0.621800
50%     0.032608   0.500631  -0.294321   0.417480
75%     0.457473   1.190572   0.591206   1.146260
max     1.702516   1.542215   1.593402   1.642836

In [21]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-03-01  1.483067 -0.038860  1.542215  0.406908
2020-03-02  1.642836  0.933076  1.038110 -0.750015
2020-03-03 -0.346229 -0.636589  0.653517  1.280256
2020-03-04 -0.713657 -0.384702  1.403581  0.474328
2020-03-05  1.115196 -0.701829 -0.446349 -0.796362
2020-03-06 -0.984943  1.593402  1.241393 -0.231602
2020-03-07  0.988591 -0.366376  0.347745 -1.107074
2020-03-08  1.156614 -1.470084  0.234195 -0.918799
2020-03-09 -0.153631  0.801228 -0.144241  0.296818
2020-03-10 -0.860427 -0.222266 -0.585437  1.702516

In [22]:
df.sort_values(by ='C')

                   A         B         C         D
2020-03-08 -0.918799  0.234195 -1.470084  1.156614
2020-03-05 -0.796362 -0.446349 -0.701829  1.115196
2020-03-03  1.280256  0.653517 -0.636589 -0.346229
2020-03-04  0.474328  1.403581 -0.384702 -0.713657
2020-03-07 -1.107074  0.347745 -0.366376  0.988591
2020-03-10  1.702516 -0.585437 -0.222266 -0.860427
2020-03-01  0.406908  1.542215 -0.038860  1.483067
2020-03-09  0.296818 -0.144241  0.801228 -0.153631
2020-03-02 -0.750015  1.038110  0.933076  1.642836
2020-03-06 -0.231602  1.241393  1.593402 -0.984943

In [23]:
df['C']

2020-03-01   -0.038860
2020-03-02    0.933076
2020-03-03   -0.636589
2020-03-04   -0.384702
2020-03-05   -0.701829
2020-03-06    1.593402
2020-03-07   -0.366376
2020-03-08   -1.470084
2020-03-09    0.801228
2020-03-10   -0.222266
Freq: D, Name: C, dtype: float64

In [24]:
df[0:3]

                   A         B         C         D
2020-03-01  0.406908  1.542215 -0.038860  1.483067
2020-03-02 -0.750015  1.038110  0.933076  1.642836
2020-03-03  1.280256  0.653517 -0.636589 -0.346229

In [25]:
df[0:6]

                   A         B         C         D
2020-03-01  0.406908  1.542215 -0.038860  1.483067
2020-03-02 -0.750015  1.038110  0.933076  1.642836
2020-03-03  1.280256  0.653517 -0.636589 -0.346229
2020-03-04  0.474328  1.403581 -0.384702 -0.713657
2020-03-05 -0.796362 -0.446349 -0.701829  1.115196
2020-03-06 -0.231602  1.241393  1.593402 -0.984943

In [26]:
df.loc[d[0]] # pass by label

A    0.406908
B    1.542215
C   -0.038860
D    1.483067
Name: 2020-03-01 00:00:00, dtype: float64

In [27]:
#selecting data on a multi access by label
df.loc[:,['B','C']]

                   B         C
2020-03-01  1.542215 -0.038860
2020-03-02  1.038110  0.933076
2020-03-03  0.653517 -0.636589
2020-03-04  1.403581 -0.384702
2020-03-05 -0.446349 -0.701829
2020-03-06  1.241393  1.593402
2020-03-07  0.347745 -0.366376
2020-03-08  0.234195 -1.470084
2020-03-09 -0.144241  0.801228
2020-03-10 -0.585437 -0.222266

In [28]:
#showing label slicing both endpoints are actually included
df.loc['20200301':'20200306',['B','C']]

                   B         C
2020-03-01  1.542215 -0.038860
2020-03-02  1.038110  0.933076
2020-03-03  0.653517 -0.636589
2020-03-04  1.403581 -0.384702
2020-03-05 -0.446349 -0.701829
2020-03-06  1.241393  1.593402

In [29]:
#get the values inside a data frame
df.loc['20200306',['B','C']]

B    1.241393
C    1.593402
Name: 2020-03-06 00:00:00, dtype: float64

In [30]:
# get a scalar value
df.loc[d[0],['B','C']]

B    1.542215
C   -0.038860
Name: 2020-03-01 00:00:00, dtype: float64

In [31]:
# fast access to get a scalar value
df.at[d[0],'C']

-0.03885960035836729

In [32]:
# select a value from using the position inside your data frame
df.iloc[3]

A    0.474328
B    1.403581
C   -0.384702
D   -0.713657
Name: 2020-03-04 00:00:00, dtype: float64

In [33]:
# select a value from using the position inside your data frame
df.iloc[3:5]

                   A         B         C         D
2020-03-04  0.474328  1.403581 -0.384702 -0.713657
2020-03-05 -0.796362 -0.446349 -0.701829  1.115196

In [34]:
# select a value from using the position inside your data frame
df.iloc[3:5, 0:2]

                   A         B
2020-03-04  0.474328  1.403581
2020-03-05 -0.796362 -0.446349

In [35]:
df [df['A'] > 0]

                   A         B         C         D
2020-03-01  0.406908  1.542215 -0.038860  1.483067
2020-03-03  1.280256  0.653517 -0.636589 -0.346229
2020-03-04  0.474328  1.403581 -0.384702 -0.713657
2020-03-09  0.296818 -0.144241  0.801228 -0.153631
2020-03-10  1.702516 -0.585437 -0.222266 -0.860427

In [36]:
df2 = df.reindex(index=d[0:4], columns=list(df.columns) + ['E'])

In [37]:
df2.loc[d[0]:d[1], 'E'] = 1

In [38]:
df2

                   A         B         C         D    E
2020-03-01  0.406908  1.542215 -0.038860  1.483067  1.0
2020-03-02 -0.750015  1.038110  0.933076  1.642836  1.0
2020-03-03  1.280256  0.653517 -0.636589 -0.346229  NaN
2020-03-04  0.474328  1.403581 -0.384702 -0.713657  NaN

In [39]:
df2.isnull()

                A      B      C      D      E
2020-03-01  False  False  False  False  False
2020-03-02  False  False  False  False  False
2020-03-03  False  False  False  False   True
2020-03-04  False  False  False  False   True

In [40]:
df2.dropna()

                   A         B         C         D    E
2020-03-01  0.406908  1.542215 -0.038860  1.483067  1.0
2020-03-02 -0.750015  1.038110  0.933076  1.642836  1.0

In [41]:
df2.fillna(value=2)

                   A         B         C         D    E
2020-03-01  0.406908  1.542215 -0.038860  1.483067  1.0
2020-03-02 -0.750015  1.038110  0.933076  1.642836  1.0
2020-03-03  1.280256  0.653517 -0.636589 -0.346229  2.0
2020-03-04  0.474328  1.403581 -0.384702 -0.713657  2.0

In [42]:
pd.isna(df2)

                A      B      C      D      E
2020-03-01  False  False  False  False  False
2020-03-02  False  False  False  False  False
2020-03-03  False  False  False  False   True
2020-03-04  False  False  False  False   True