In [12]:
import requests

url = "https://jsearch.p.rapidapi.com/search"

querystring = {"query":"Data Engineer in Ontario, Canada","page":"1","num_pages":"1","date_posted":"month"}

headers = {
	"X-RapidAPI-Key": "1161789acfmsh46016aeb8c35381p164fc3jsne1705b8eaa2d",
	"X-RapidAPI-Host": "jsearch.p.rapidapi.com"
}

response = requests.get(url, headers=headers, params=querystring)

#response.json()

In [13]:
data = response.json()

In [109]:
#data

Employer_website,
job_id,
job_employment_type,
job_title,
job_apply_link,
job_description,
job_city,
job_country,
job_posted_at_date,
employer_company_type.

In [108]:

#data['data']

In [3]:
#data['data'][0]

In [23]:
#Employer_website
data['data'][0]['employer_website']

'http://www.cgi.com'

In [24]:
#job_id
data['data'][0]['job_id']

'A-IAoon8XeQAAAAAAAAAAA=='

In [25]:
#job_employment_type
data['data'][0]['job_employment_type']

'FULLTIME'

In [26]:
#job_title
data['data'][0]['job_title']

'Data Engineer'

In [27]:
#job_apply_link
data['data'][0]['job_apply_link']

'https://www.ziprecruiter.com/c/CGI/Job/Data-Engineer/-in-Toronto,ON?jid=12cf1354c3724f91'

In [107]:
#job_description
#data['data'][0]['job_description']

In [38]:
#job_city
data['data'][0]['job_city']

'Toronto'

In [36]:
#job_country
data['data'][0]['job_country']

'CA'

In [39]:
#job_posted_at_date
data['data'][0]['job_posted_at_datetime_utc'][:10]

'2023-07-07'

In [34]:
#employer_company_type
data['data'][0]['employer_company_type']

'Computer Services'

<h2>DEMONSTRATION</h2>

In [ ]:
#TRANSFORMATION: 1) country should full_name 2) DATE: datetime, job description, company name(from website), 3) key_words(skills)

In [46]:
fruits = ['apple', 'orange', 'pear','pawpaw']

In [47]:
for i in fruits:
    print(i)

apple
orange
pear
pawpaw

In [49]:
my_class = [{'name':'Ebejale', 'number': 1234}, {'name':'Collins', 'number': 7890}, {'name':'Mariam', 'number': 2222}]

In [52]:
my_class

[{'name': 'Ebejale', 'number': 1234},
 {'name': 'Collins', 'number': 7890},
 {'name': 'Mariam', 'number': 2222}]

In [111]:
my_class[0]

{'name': 'Ebejale', 'number': 1234}

In [73]:
my_class[0]['name']

'Ebejale'

In [61]:
for i in my_class:
    print(i)

{'name': 'Ebejale', 'number': 1234}
{'name': 'Collins', 'number': 7890}
{'name': 'Mariam', 'number': 2222}

In [65]:
for item in my_class:
    print(item['name']) #my_class[0]['name'], #my_class[1]['name'],my_class[2]['name']

Ebejale
Collins
Mariam

In [63]:
for i in my_class:
    print(i['number'])

1234
7890
2222

In [76]:
for i in range(len(my_class)):
    print(my_class[i]['name'])

Ebejale
Collins
Mariam

In [106]:
for i in range(len(my_class)):
    print(my_class[i])

{'name': 'Ebejale', 'number': 1234}
{'name': 'Collins', 'number': 7890}
{'name': 'Mariam', 'number': 2222}

# Back to Code

In [8]:
for i in range(len(data['data'])):
    print(data['data'][i]['job_city'])

None
Toronto
Toronto
Toronto
None
Mississauga
Brampton
Toronto
Toronto
Toronto

In [11]:
#for i in data['data']:
    #print(f'{i} \n \n')
import pandas as pd

In [25]:
employer_website = [] #data['data'][0]['employer_website']
job_id = []#data['data'][0]['job_id']
job_employment_type = [] #data['data'][0]['job_employment_type']
job_title = [] #data['data'][0]['job_title']
job_apply_link=[] #data['data'][0]['job_apply_link']
job_description=[] #data['data'][0]['job_description']
job_city=[] #data['data'][0]['job_city']
job_country =[] #data['data'][0]['job_country']
job_posted_at_date =[] #data['data'][0]['job_posted_at_datetime_utc'][:10]
employer_company_type =[] #data['data'][0]['employer_company_type']

for i in range(len(data['data'])):
    employer_website.append(data['data'][i]['employer_website'])
    job_id.append(data['data'][i]['job_id'])
    job_employment_type.append(data['data'][i]['job_employment_type'])
    job_title.append(data['data'][i]['job_title'])
    job_apply_link.append(data['data'][i]['job_apply_link'])
    job_description.append(data['data'][i]['job_description'])
    job_city.append(data['data'][i]['job_city'])
    job_country.append(data['data'][i]['job_country'])
    job_posted_at_date.append(data['data'][i]['job_posted_at_datetime_utc'][:10])
    employer_company_type.append(data['data'][i]['employer_company_type'])
    
    
rapid_dict = {
                'job_id': job_id,
                'employer_website':employer_website,
                'job_employment_type':job_employment_type,
                'job_title':job_title,
                'job_apply_link':job_apply_link,
                'job_description':job_description,
                'job_city':job_city,
                'job_country':job_country,
                'job_posted_at_date':job_posted_at_date,
                'employer_company_type':employer_company_type        
            
             }

In [28]:
employer_website

[None,
 'http://www.360insights.com',
 'http://www.capgemini.com',
 'http://www.cardinal.com',
 'http://www.spotify.com',
 None,
 'http://www.capgemini.com',
 'http://www.virtusa.com',
 'http://www.spinmaster.com',
 'http://www.bell.ca']

In [103]:
#rapid_dict

In [29]:
import pandas as pd

In [39]:
job_df = pd.DataFrame(rapid_dict)

In [40]:
job_df

,job_id,employer_website,job_employment_type,job_title,job_apply_link,job_description,job_city,job_country,job_posted_at_date,employer_company_type
0,TSA6HdDVXJIAAAAAAAAAAA==,None,FULLTIME,Data Engineer,https://ca.linkedin.com/jobs/view/data-enginee...,Responsibilities:\n• Responsible for designing...,Toronto,CA,2023-07-11,None
1,WVwDooRTBy8AAAAAAAAAAA==,http://www.360insights.com,FULLTIME,Data Engineer,https://ca.linkedin.com/jobs/view/data-enginee...,Experiences that create growth. Growth that cr...,Whitby,CA,2023-07-11,None
2,y-bG38YgelAAAAAAAAAAAA==,http://www.capgemini.com,FULLTIME,Data engineer,https://www.jobillico.com/en/job-offer/capgemi...,Job Description\n\nJob Title: Data Engineer\nJ...,Mississauga,CA,2023-07-12,Consulting
3,RR3-JQr_Md8AAAAAAAAAAA==,http://www.cardinal.com,FULLTIME,Sr. Data Engineer,https://www.prodivnet.com/job/sr-data-engineer...,What Data Engineering contributes to Cardinal ...,Vaughan,CA,2023-07-12,Wholesale
4,F38wa5W7Lk4AAAAAAAAAAA==,http://www.spotify.com,FULLTIME,Data Engineer - Financial Engineering,https://ca.linkedin.com/jobs/view/data-enginee...,We are looking for a Data Engineer to join our...,Toronto,CA,2023-07-10,None
5,iDgsZQSOSk0AAAAAAAAAAA==,None,CONTRACTOR,Fullstack Data Engineer,https://ca.linkedin.com/jobs/view/fullstack-da...,Title: Fullstack Data Engineer\n\nLocation: To...,Toronto,CA,2023-07-11,None
6,HB-JQGT-O6MAAAAAAAAAAA==,http://www.capgemini.com,FULLTIME,Data engineer,https://www.jobillico.com/en/job-offer/capgemi...,Job Title: Data Engineer\nJob location: Toront...,Toronto,CA,2023-07-08,Consulting
7,I4ByAy0m-rYAAAAAAAAAAA==,http://www.virtusa.com,FULLTIME,Data Engineer,https://ca.linkedin.com/jobs/view/data-enginee...,"Expertise with AWS Glue, spark and Redshift/\n...",Toronto,CA,2023-07-10,Computer Services
8,rap_7MYqJWsAAAAAAAAAAA==,http://www.spinmaster.com,FULLTIME,Data Engineer,https://www.spinmastercareers.com/global/be/jo...,Please Note: If you are a current Spin Master ...,Toronto,CA,2023-07-06,Manufacturing
9,J6vZDAUHzPUAAAAAAAAAAA==,http://www.bell.ca,FULLTIME,Sr. Data Engineer,https://www.simplyhired.ca/job/X41aBmqiZfb_z_6...,"As the largest high-tech team in Canada, Netwo...",None,CA,2023-07-12,Information

In [35]:
job_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_id                 10 non-null     object
 1   employer_website       8 non-null      object
 2   job_employment_type    10 non-null     object
 3   job_title              10 non-null     object
 4   job_apply_link         10 non-null     object
 5   job_description        10 non-null     object
 6   job_city               9 non-null      object
 7   job_country            10 non-null     object
 8   job_posted_at_date     10 non-null     object
 9   employer_company_type  6 non-null      object
dtypes: object(10)
memory usage: 932.0+ bytes

In [41]:
#change to date_time datatype

job_df['job_posted_at_date'] = pd.to_datetime(job_df['job_posted_at_date'])

In [43]:
job_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   job_id                 10 non-null     object
 1   employer_website       8 non-null      object
 2   job_employment_type    10 non-null     object
 3   job_title              10 non-null     object
 4   job_apply_link         10 non-null     object
 5   job_description        10 non-null     object
 6   job_city               9 non-null      object
 7   job_country            10 non-null     object
 8   job_posted_at_date     10 non-null     datetime64[ns]
 9   employer_company_type  6 non-null      object
dtypes: datetime64[ns](1), object(9)
memory usage: 932.0+ bytes

In [ ]:
# #TRANSFORMATION: 1) country should full_name 
# 2) DATE: datetime, --DONE
# 3) job description, 
# 4) company name(from website), 
# 5) key_words(skills)

In [45]:
job_df['job_description'][0]

"Responsibilities:\n• Responsible for designing and implementing the infrastructure necessary to store, process, and analyze large sets of data.\n• Work with stakeholders to understand their business needs and develop scalable and reliable data architectures.\n• Ensure that the infrastructure is optimized for performance and efficiency.\n• Assessing new data ingestion requirements by working with source data teams/SMEs and the internal data eng senior engineers\n• Designing, planning and aligning on ingestion pipeline solutions including tech/tools available in the company's Google Cloud platform\n• Data modelling using existing team-built dbt framework\n• Bug fixes and delivering new feature request for existing etls\n• Documenting progress and status in Jira\n• Documenting business domain knowledge in team’s online wiki/confluence\n\nQualifications:\n• Minimum 5+ years' experience\n• Data Engineering – ETL, Orchestration, Data Modeling\n• Python and SQL experience\n• Google Cloud Platform experience"

In [58]:
words = ['ETL','Orchestration', 'modeling', 'python', 
         'sql','pandas','docker','aws','gcp','google cloud',
         'postgres','mongodb','spark','jira','databricks',
         'azure','dbt','amazon','s3','linux','hadoop','kubernetes',
         'hbase','hive','fivetran','mage','airflow','ci/cd','elt']

acronyms = ['sql','dbt','elt','etl','aws','gcp']

In [61]:
for i in words:
    if i.lower() in job_df['job_description'][0].lower():
        if i.lower() in acronyms:
            #print(i.upper())
        #else: #print(i.title())

SyntaxError: incomplete input (2988531120.py, line 5)

In [78]:
def extract_skills(c):
    skills = []
    for i in words:
        if i.lower() in c.lower():
            if i.lower() in acronyms:
                skills.append(i.upper())
            else: skills.append(i.title())
    return skills

In [70]:

extract_skills(job_df['job_description'][0])

['ETL',
 'Orchestration',
 'Modeling',
 'Python',
 'SQL',
 'Google Cloud',
 'Jira',
 'DBT']

In [79]:
job_df['skillset'] = job_df['job_description'].apply(lambda x: extract_skills(x))

In [80]:
job_df

,job_id,employer_website,job_employment_type,job_title,job_apply_link,job_description,job_city,job_country,job_posted_at_date,employer_company_type,skillset
0,TSA6HdDVXJIAAAAAAAAAAA==,None,FULLTIME,Data Engineer,https://ca.linkedin.com/jobs/view/data-enginee...,Responsibilities:\n• Responsible for designing...,Toronto,CA,2023-07-11,None,"[ETL, Orchestration, Modeling, Python, SQL, Go..."
1,WVwDooRTBy8AAAAAAAAAAA==,http://www.360insights.com,FULLTIME,Data Engineer,https://ca.linkedin.com/jobs/view/data-enginee...,Experiences that create growth. Growth that cr...,Whitby,CA,2023-07-11,None,"[ETL, Modeling, Python, SQL, AWS, Google Cloud..."
2,y-bG38YgelAAAAAAAAAAAA==,http://www.capgemini.com,FULLTIME,Data engineer,https://www.jobillico.com/en/job-offer/capgemi...,Job Description\n\nJob Title: Data Engineer\nJ...,Mississauga,CA,2023-07-12,Consulting,"[Python, SQL, AWS, Spark, Hadoop]"
3,RR3-JQr_Md8AAAAAAAAAAA==,http://www.cardinal.com,FULLTIME,Sr. Data Engineer,https://www.prodivnet.com/job/sr-data-engineer...,What Data Engineering contributes to Cardinal ...,Vaughan,CA,2023-07-12,Wholesale,"[ETL, Modeling, Python, SQL, AWS, GCP]"
4,F38wa5W7Lk4AAAAAAAAAAA==,http://www.spotify.com,FULLTIME,Data Engineer - Financial Engineering,https://ca.linkedin.com/jobs/view/data-enginee...,We are looking for a Data Engineer to join our...,Toronto,CA,2023-07-10,None,"[ETL, SQL, Docker, Google Cloud]"
5,iDgsZQSOSk0AAAAAAAAAAA==,None,CONTRACTOR,Fullstack Data Engineer,https://ca.linkedin.com/jobs/view/fullstack-da...,Title: Fullstack Data Engineer\n\nLocation: To...,Toronto,CA,2023-07-11,None,"[Orchestration, Python, SQL, AWS, Spark, Azure..."
6,HB-JQGT-O6MAAAAAAAAAAA==,http://www.capgemini.com,FULLTIME,Data engineer,https://www.jobillico.com/en/job-offer/capgemi...,Job Title: Data Engineer\nJob location: Toront...,Toronto,CA,2023-07-08,Consulting,"[ETL, Python, SQL, Docker, Spark, Azure]"
7,I4ByAy0m-rYAAAAAAAAAAA==,http://www.virtusa.com,FULLTIME,Data Engineer,https://ca.linkedin.com/jobs/view/data-enginee...,"Expertise with AWS Glue, spark and Redshift/\n...",Toronto,CA,2023-07-10,Computer Services,"[SQL, AWS, Spark]"
8,rap_7MYqJWsAAAAAAAAAAA==,http://www.spinmaster.com,FULLTIME,Data Engineer,https://www.spinmastercareers.com/global/be/jo...,Please Note: If you are a current Spin Master ...,Toronto,CA,2023-07-06,Manufacturing,"[Python, SQL, AWS, GCP, Azure]"
9,J6vZDAUHzPUAAAAAAAAAAA==,http://www.bell.ca,FULLTIME,Sr. Data Engineer,https://www.simplyhired.ca/job/X41aBmqiZfb_z_6...,"As the largest high-tech team in Canada, Netwo...",None,CA,2023-07-12,Information,"[Jira, Linux, Hadoop, Ci/Cd]"